.align-center{
    align-content: center;
}
.img-responsive{
    width: 100%;
}
body{
    color:white;
    background: linear-gradient(135deg, #070614, #0e0d1f, #1c122b);
    background-size: 400% 400%;
    animation: bgAnimation 10s ease infinite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluidnavbar navbar-dark bg-dark navbar-expand-lg a {
  color: #ffffff;
}

.barraPrincipal {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  color: white;
  font-size: 1.1rem;
  flex-wrap: wrap;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  box-sizing: border-box;
}
.barraPrincipal a.secundario {
  font-size: 0.9rem;
  color: rgba(224, 224, 224, 0.50);
  transition: color 0.3 ease, transform 0.3 ease;
}
.barraPrincipal a.secundario:hover {
  color: white;
  transform: scale(1.02);
}
.barraPrincipal span.activo {
  font-weight: bold;
  color: white;
  text-decoration: solid;
  font-size: 1.4rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.03);
}
.barraPrincipal a {
  color: #818181;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3 ease;
}

.barraPrincipal a:hover {
  color: #fff;
  transform: scale(1.02);
}

@keyframes bgAnimation {
    0% { background-position: 0% 50%;
    }
    50% {background-position: 100% 50%;
    }
    100% {background-position: 0% 50%;
    }
}
a:hover .fa-github {
    color: #6e40c9;
    transform: scale(1.2);
    transition: 0.3s ease;
  }
  
  a:hover .fa-envelope {
    color: #ff5e99;
    transform: rotate(10deg) scale(1.1);
    transition: 0.3s ease;
  }
  
  a:hover .fa-whatsapp {
    color: #25D366;
    transform: scale(1.2);
    transition: 0.3s ease;
  }

  .redes-sociales a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 5%;
    margin: 0 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  }

  #projects h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2.2rem;
  }
  
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration-style: solid;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  }
  
